.header {
  background-color: #6a437e;
  color: #ffffff;
  padding: 15px;
  text-align: center;

}

.body {
  margin: 0 auto;
  padding: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
} 

.input {
  width: 20%;
  padding: 10px;
  float: left;
}

.table {
  border-spacing: 50px 0;
  border-collapse: separate;
  padding-top: 20px;
}

.table th {
  border-color: transparent;
  text-align: center;
  font-family: sans-serif;
  color: #452455;
}

.table td{
  /* width: 100%; */
  text-align: center;
  width: 100px;
  border: 0px;
}

.table tr {
  border: 0px;
}

.pmi {
  width: 40%;
  float: left;
  background-color: #147ba0;
  color: #ffffff;
  font-size: large;
  text-align: center;
}
