.header {
  background-color: #6a437e;
  color: #ffffff;
  padding: 15px;
  text-align: center;

}

.body {
  margin: 0 auto;
  padding: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
} 

.input {
  width: 20%;
  padding: 10px;
  float: left;
  font-family: sans-serif;
}

table {
  /* border-spacing: 50px 0; */
  border: none;
  padding-top: 20px;
  width: 60%;
  float: center;
}

table th {
  text-align: center;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: rgb(51, 78, 87);
  border: none;
}

table td{  
  /* width: 100%; */
  text-align: center;
  width: 100px;
  border: none;
}

table tr {
  border: none;
  font-family: sans-serif;
}

.pmi {
  width: 40%;
  float: left;
  background-color: #147ba0;
  color: #ffffff;
  font-size: large;
  text-align: center;
}
